<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <style>
                body { font-family: sans-serif; }
            </style>
        {% endblock %}
    </head>
    <body>
        {% if app.request.hasPreviousSession %}
            <div>
                <a style="color: red; font-weight: bold;" href="/logout">Destroy Session</a>
                <p>Session is present and CSRF lazy initialization method will be passive. The classical working behavior is active!</p>
            </div>
            {% else %}
                <p>Session is not present and CSRF lazy initialization method will be active.</p>
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
